In [21]:
from sqlalchemy import create_engine, text
import pandas as pd
import random
import numpy as np
from faker import Faker
from random import randint, choice, sample
from datetime import date, timedelta, time

In [22]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost:5432/final_project'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

In [23]:
#  SQL statements to create all tables
stmt = '''

-- 1. Stores
CREATE TABLE stores (
    store_id   INT PRIMARY KEY,
    store_name VARCHAR(255) NOT NULL,
    address    VARCHAR(255),
    city       VARCHAR(100),
    state      VARCHAR(50),
    zip        VARCHAR(20),
    open_date  DATE
);

-- 2. Product Categories
CREATE TABLE product_category (
    category_id   INT PRIMARY KEY,
    category_name VARCHAR(100) NOT NULL
);

-- 3. Products
CREATE TABLE products (
    product_sku   VARCHAR(100) PRIMARY KEY,
    product_name  VARCHAR(100) NOT NULL,
    category_id   INT NOT NULL REFERENCES product_category(category_id)
);

-- 4. Employees
CREATE TABLE employees (
    employee_id       INT PRIMARY KEY,
    first_name        VARCHAR(50) NOT NULL,
    last_name         VARCHAR(50) NOT NULL,
    store_id          INT NOT NULL REFERENCES stores(store_id),
    phone             VARCHAR(50),
    email             VARCHAR(100),
    salary            NUMERIC(12,2),
    start_date        DATE,
    employment_status VARCHAR(50),
    job_title         VARCHAR(100)
);

-- 5. Shifts
CREATE TABLE shifts (
    shift_id       INT PRIMARY KEY,
    employee_id    INT NOT NULL REFERENCES employees(employee_id),
    store_id       INT NOT NULL REFERENCES stores(store_id),
    schedule_start TIME,
    schedule_end   TIME
);

-- 6. Vendors
CREATE TABLE vendors (
    vendor_id     INT PRIMARY KEY,
    vendor_name   VARCHAR(255) NOT NULL,
    vendor_phone  VARCHAR(50),
    vendor_email  VARCHAR(100)
);

-- 7. Vendor Product
CREATE TABLE vendor_product (
    vendor_product_id INT PRIMARY KEY,
    vendor_id         INT NOT NULL REFERENCES vendors(vendor_id),
    product_sku       VARCHAR(100) NOT NULL REFERENCES products(product_sku),
    UNIQUE (vendor_id, product_sku)
);

-- 8. Purchase Orders
CREATE TABLE purchase_order (
    purchase_order_id INT PRIMARY KEY,
    vendor_id         INT NOT NULL REFERENCES vendors(vendor_id),
    store_id          INT NOT NULL REFERENCES stores(store_id),
    order_date        DATE NOT NULL,
    status            VARCHAR(50)
);
CREATE INDEX idx_po_vendor ON purchase_order(vendor_id);
CREATE INDEX idx_po_store  ON purchase_order(store_id);
CREATE INDEX idx_po_date   ON purchase_order(order_date);

-- 9. Purchase Products
CREATE TABLE purchase_product (
    purchase_product_id INT PRIMARY KEY,
    purchase_order_id   INT NOT NULL REFERENCES purchase_order(purchase_order_id),
    vendor_product_id   INT NOT NULL REFERENCES vendor_product(vendor_product_id),
    quantity_purchased  INT NOT NULL CHECK (quantity_purchased > 0),
    actual_unit_cost    NUMERIC(12,2) NOT NULL CHECK (actual_unit_cost >= 0)
);
CREATE INDEX idx_pp_po   ON purchase_product(purchase_order_id);
CREATE INDEX idx_pp_vpid ON purchase_product(vendor_product_id);

-- 10. Inventory Lots 
CREATE TABLE inventory_lot (
    lot_id              INT PRIMARY KEY,
    store_id            INT NOT NULL REFERENCES stores(store_id),
    purchase_product_id INT NOT NULL REFERENCES purchase_product(purchase_product_id),
    quantity            INT NOT NULL CHECK (quantity >= 0),
    expiration_date     DATE,
    received_date       DATE NOT NULL
);
CREATE INDEX idx_lot_store ON inventory_lot(store_id);
CREATE INDEX idx_lot_ppid  ON inventory_lot(purchase_product_id);

-- 11. Inventory
CREATE TABLE inventory (
    store_id           INT NOT NULL REFERENCES stores(store_id),
    product_sku        VARCHAR(100) NOT NULL REFERENCES products(product_sku),
    quantity_in_stock  INT,
    reorder_threshold  INT,
    PRIMARY KEY (store_id, product_sku)
);

-- 12. Payment Methods
CREATE TABLE payment_method (
    payment_method_id INT PRIMARY KEY,
    method_name       VARCHAR(50) NOT NULL
);

-- 13. Transactions
CREATE TABLE transactions (
    transaction_id    INT PRIMARY KEY,
    store_id          INT NOT NULL REFERENCES stores(store_id),
    employee_id       INT NOT NULL REFERENCES employees(employee_id),
    tran_time         TIMESTAMP NOT NULL,
    payment_method_id INT REFERENCES payment_method(payment_method_id)
);

-- 14. Sales Detailed Items
CREATE TABLE sales_detailed_item (
    detailed_id       INT PRIMARY KEY,
    transaction_id    INT NOT NULL REFERENCES transactions(transaction_id),
    product_sku       VARCHAR(100) NOT NULL REFERENCES products(product_sku),
    lot_id            INT NOT NULL REFERENCES inventory_lot(lot_id),
    quantity          INT,
    actual_unit_price NUMERIC(12,2),
    discount_amount   NUMERIC(12,2)
);

-- 15. Refunds
CREATE TABLE refunds (
    refund_id        INT PRIMARY KEY,
    original_tran_id INT NOT NULL REFERENCES transactions(transaction_id),
    refund_time      TIMESTAMP NOT NULL,
    employee_id      INT REFERENCES employees(employee_id),
    reason           TEXT,
    detailed_id      INT NOT NULL REFERENCES sales_detailed_item(detailed_id),
    quantity         DECIMAL(12,3) NOT NULL CHECK (quantity > 0),
    amount           NUMERIC(12,2) NOT NULL CHECK (amount >= 0)
);

-- 16. Operating Expenses
CREATE TABLE operating_expenses (
    expense_id   INT PRIMARY KEY,
    store_id     INT NOT NULL REFERENCES stores(store_id),
    expense_type VARCHAR(100),
    amount       NUMERIC(12,2),
    expense_date DATE
);

'''

In [24]:
with engine.begin() as connection:
    connection.execute(stmt)

#### Setting the Trigger environment

In [25]:
t0 = '''
-- Resolve SKU from a purchase_product_id
CREATE OR REPLACE FUNCTION _sku_for_pp(pp_id INT)
RETURNS VARCHAR LANGUAGE sql STABLE AS $$
  SELECT vp.product_sku
  FROM purchase_product pp
  JOIN vendor_product vp ON vp.vendor_product_id = pp.vendor_product_id
  WHERE pp.purchase_product_id = pp_id
$$;

-- Upsert into inventory (adds delta to quantity_in_stock)
CREATE OR REPLACE FUNCTION _inv_upsert(p_store INT, p_sku VARCHAR, p_delta INT)
RETURNS VOID LANGUAGE plpgsql AS $$
BEGIN
  INSERT INTO inventory(store_id, product_sku, quantity_in_stock, reorder_threshold)
  VALUES (p_store, p_sku, p_delta, 50)  
  ON CONFLICT (store_id, product_sku)
  DO UPDATE SET quantity_in_stock = inventory.quantity_in_stock + EXCLUDED.quantity_in_stock;
END;
$$;
'''
with engine.begin() as conn:
    conn.execute(text(t0))

#### Trigger 1: Decrease inventory stock after sale

In [26]:
t1 = '''
CREATE OR REPLACE FUNCTION trg_inventory_on_sale_ins()
RETURNS TRIGGER LANGUAGE plpgsql AS $$
DECLARE v_store INT; v_sku VARCHAR;
BEGIN
  SELECT il.store_id, _sku_for_pp(il.purchase_product_id)
    INTO v_store, v_sku
  FROM inventory_lot il
  WHERE il.lot_id = NEW.lot_id;

  PERFORM _inv_upsert(v_store, v_sku, -NEW.quantity);
  RETURN NEW;
END;
$$;

CREATE TRIGGER inventory_on_sale_ins
AFTER INSERT ON sales_detailed_item
FOR EACH ROW EXECUTE FUNCTION trg_inventory_on_sale_ins();
'''
with engine.begin() as conn:
    conn.execute(text(t1))

#### Trigger 2: Increase inventory stock after receive from vendor

In [27]:
t2 = '''
CREATE OR REPLACE FUNCTION trg_inventory_on_lot_ins()
RETURNS TRIGGER LANGUAGE plpgsql AS $$
DECLARE v_sku VARCHAR;
BEGIN
  v_sku := _sku_for_pp(NEW.purchase_product_id);
  PERFORM _inv_upsert(NEW.store_id, v_sku, NEW.quantity);
  RETURN NEW;
END;
$$;

CREATE TRIGGER inventory_on_lot_ins
AFTER INSERT ON inventory_lot
FOR EACH ROW EXECUTE FUNCTION trg_inventory_on_lot_ins();
'''
with engine.begin() as conn:
    conn.execute(text(t2))

#### Trigger 3: Re-add the item quantity to inventory after a refund

In [28]:
t3 = '''
CREATE OR REPLACE FUNCTION trg_inventory_on_refund_ins()
RETURNS TRIGGER LANGUAGE plpgsql AS $$
DECLARE v_store INT; v_sku VARCHAR; v_lot INT;
BEGIN
  SELECT sdi.lot_id INTO v_lot
  FROM sales_detailed_item sdi
  WHERE sdi.detailed_id = NEW.detailed_id;

  SELECT il.store_id, _sku_for_pp(il.purchase_product_id)
    INTO v_store, v_sku
  FROM inventory_lot il
  WHERE il.lot_id = v_lot;

  -- If all refunds are restocked; if not, add a 'restocked' flag and check it here.
  PERFORM _inv_upsert(v_store, v_sku, NEW.quantity::INT);
  RETURN NEW;
END;
$$;

CREATE TRIGGER inventory_on_refund_ins
AFTER INSERT ON refunds
FOR EACH ROW EXECUTE FUNCTION trg_inventory_on_refund_ins();
'''
with engine.begin() as conn:
    conn.execute(text(t3))

#### Trigger 4: Prevent negative inventory stock after any update

In [29]:
t4 = '''
CREATE OR REPLACE FUNCTION trg_check_lot_balance()
RETURNS TRIGGER LANGUAGE plpgsql AS $$
DECLARE v_received INT; v_sold INT; v_ref INT; v_left INT;
BEGIN
  SELECT il.quantity INTO v_received FROM inventory_lot il WHERE il.lot_id = NEW.lot_id;
  SELECT COALESCE(SUM(sdi.quantity),0) INTO v_sold FROM sales_detailed_item sdi WHERE sdi.lot_id = NEW.lot_id;
  SELECT COALESCE(SUM(r.quantity),0)  INTO v_ref
  FROM refunds r
  JOIN sales_detailed_item sdi2 ON sdi2.detailed_id = r.detailed_id
  WHERE sdi2.lot_id = NEW.lot_id;

  v_left := v_received - v_sold + v_ref;
  IF NEW.quantity > v_left THEN
    RAISE EXCEPTION 'Insufficient quantity for lot %, available %, attempted %', NEW.lot_id, v_left, NEW.quantity;
  END IF;
  RETURN NEW;
END;
$$;

CREATE TRIGGER check_lot_balance_before_sale
BEFORE INSERT ON sales_detailed_item
FOR EACH ROW EXECUTE FUNCTION trg_check_lot_balance();
'''
with engine.begin() as conn:
    conn.execute(text(t4))

#### Load Raw Data

In [30]:
raw_store_data = pd.read_csv("retail-food-stores.csv", low_memory=False)
raw_store_data.columns = raw_store_data.columns.str.lower()

df = pd.read_csv('Grocery_Inventory_and_Sales_Dataset.csv')
df.loc[685, 'Catagory'] = 'Fruits & Vegetables'

#### 1. Store

In [31]:
raw_store_data['full_address'] = raw_store_data['street number'].astype(str).str.strip() + ' ' + raw_store_data['street name'].fillna('').str.strip()
raw_store_data['county'] = raw_store_data['county'].astype(str).str.strip()
queens = raw_store_data[raw_store_data['county'] == 'Queens']
brooklyn = raw_store_data[raw_store_data['county'] == 'Kings']

sample_queens = queens[['dba name', 'full_address', 'city', 'state', 'zip code']].dropna().head(2)
sample_brooklyn = brooklyn[['dba name', 'full_address', 'city', 'state', 'zip code']].dropna().head(3)
np.random.seed(5310)
queens_dates = pd.to_datetime(
    np.random.choice(
        pd.date_range(start="1993-01-01", end="1994-12-31"), 
        size=2, 
        replace=False
    )
)

# Brooklyn: new stores
brooklyn_dates = pd.to_datetime(
    np.random.choice(
        pd.date_range(start="2025-01-01", end="2025-06-30"), 
        size=3, 
        replace=False
    )
)

sample_queens['open_date'] = queens_dates
sample_brooklyn['open_date'] = brooklyn_dates
store_df = pd.concat([sample_queens, sample_brooklyn], ignore_index=True)

# make sure the cols match
store_df = store_df.rename(columns={
    'dba name': 'store_name',
    'full_address': 'address',
    'zip code': 'zip'})


store_df.insert(0, 'store_id', store_df.index + 1)

store_df.to_sql('stores', engine, if_exists='append', index=False)

store_df

,store_id,store_name,address,city,state,zip,open_date
0,1,100-17 BEACH CHANNEL DR,100-17 BEACH CHANNEL DR,ROCKAWAY BEACH,NY,11694,1993-12-09
1,2,101 AVE CONVENIENCE STO,77-02 101ST AVE,OZONE PARK,NY,11416,1993-07-14
2,3,1060 GREENE DELI,1060 GREENE AVE,BROOKLYN,NY,11221,2025-05-03
3,4,1064 FUEL,1064 ATLANTIC AVE,BROOKLYN,NY,11238,2025-04-30
4,5,1066 RUTLAND DELI,1066 RUTLAND ROAD,BROOKLYN,NY,11212,2025-06-16

####  2. Product Categories

In [32]:
product_category_df = pd.DataFrame({'category_name': df['Catagory'].unique()})
product_category_df.insert(0, 'category_id', product_category_df.index + 1)

product_category_df.to_sql('product_category', engine, if_exists='append', index=False)

product_category_df

   category_id        category_name
0            1      Grains & Pulses
1            2            Beverages
2            3  Fruits & Vegetables
3            4          Oils & Fats
4            5                Dairy
5            6               Bakery
6            7              Seafood

#### 3. Products

In [33]:
product = df[['Product_ID', 'Product_Name', 'Catagory']]
product = product.rename(columns = {'Product_ID': 'product_sku',
                                   'Product_Name': 'product_name',
                                   'Catagory': 'category_name'})

product_df = product.merge(product_category_df, on='category_name', how='left')
product_df = product_df[['product_sku', 'product_name', 'category_id']]

product_df.to_sql('products', engine, if_exists='append', index=False)

product_df

     product_sku     product_name  category_id
0    29-205-1132       Sushi Rice            1
1    40-681-9981   Arabica Coffee            2
2    06-955-3428       Black Rice            1
3    71-594-6552  Long Grain Rice            1
4    57-437-1828             Plum            3
..           ...              ...          ...
985  82-977-7752          Spinach            3
986  62-393-9939   Cheddar Cheese            5
987  31-745-6850          Cabbage            3
988  86-692-2312      Avocado Oil            4
989  28-044-4102           Papaya            3

[990 rows x 3 columns]

#### 4. Employees

In [34]:
fake = Faker()
Faker.seed(5310)
random.seed(5310)

# 10 employees for each store
num_employees_per_store = 10
store_ids = list(range(1, 6))

# set job titles % status
job_structure = [
    'Store Manager',
    'Cashier', 'Cashier',
    'Stocker', 'Stocker',
    'Sales Associate', 'Sales Associate',
    'Cleaner',
    'Security Guard', 'Security Guard'
]

employment_statuses = ['Full-time', 'Part-time', 'On Leave']

employee_data = []
for store_id in store_ids:
    jobs = job_structure.copy()
    random.shuffle(jobs)
    for title in jobs:
        first = fake.first_name()
        last = fake.last_name()
        email = f"{first.lower()}.{last.lower()}@abcfoodmart.com"
        employee_data.append({
            'first_name': first,
            'last_name': last,
            'store_id': store_id,
            'phone': fake.phone_number(),
            'email': email,
            'salary': round(random.uniform(35000, 38000), 2),
            'start_date': fake.date_between(start_date='-10y', end_date='-30d'),
            'employment_status': random.choice(employment_statuses),
            'job_title': title
        })

employee_df = pd.DataFrame(employee_data)
employee_df.insert(0, 'employee_id', employee_df.index + 1)

employee_df.to_sql('employees', engine, if_exists='append', index=False)

employee_df

,employee_id,first_name,last_name,store_id,phone,email,salary,start_date,employment_status,job_title
0,1,Phillip,Molina,1,001-795-954-8054x8536,phillip.molina@abcfoodmart.com,36678.81,2017-11-20,Part-time,Stocker
1,2,Dana,Jackson,1,001-899-399-4324,dana.jackson@abcfoodmart.com,35596.32,2019-06-20,Part-time,Cleaner
2,3,Sean,Peters,1,(928)309-9837x0335,sean.peters@abcfoodmart.com,37683.33,2024-05-19,Part-time,Cashier
3,4,Henry,Pennington,1,001-638-578-8481x774,henry.pennington@abcfoodmart.com,36795.52,2018-08-01,On Leave,Security Guard
4,5,Lindsey,Kline,1,(712)394-3713x0998,lindsey.kline@abcfoodmart.com,37229.61,2016-11-21,Full-time,Stocker
5,6,Michael,Waters,1,301-632-4523,michael.waters@abcfoodmart.com,36765.41,2018-09-20,On Leave,Security Guard
6,7,Jared,Harris,1,380.862.5208x216,jared.harris@abcfoodmart.com,36827.84,2020-10-24,Part-time,Cashier
7,8,Jane,Parks,1,(415)696-9755,jane.parks@abcfoodmart.com,35706.98,2021-08-22,Part-time,Sales Associate
8,9,Jennifer,Watson,1,+1-446-452-3843x99078,jennifer.watson@abcfoodmart.com,36241.83,2022-03-28,Full-time,Store Manager
9,10,Brittney,Holder,1,3977877783,brittney.holder@abcfoodmart.com,36336.73,2017-09-14,On Leave,Sales Associate
10,11,Steven,Paul,2,(350)440-9817x9875,steven.paul@abcfoodmart.com,35039.73,2022-12-31,Full-time,Sales Associate
11,12,James,Gill,2,663.915.4232x586,james.gill@abcfoodmart.com,36039.33,2024-06-05,Part-time,Stocker
12,13,Daniel,Hess,2,001-717-365-0450x8571,daniel.hess@abcfoodmart.com,35239.65,2022-04-20,Full-time,Cleaner
13,14,Johnny,Tate,2,896-506-4358x790,johnny.tate@abcfoodmart.com,35464.16,2015-12-19,On Leave,Cashier
14,15,Kathleen,Griffin,2,(723)926-2324,kathleen.griffin@abcfoodmart.com,37771.63,2018-04-08,On Leave,Security Guard
15,16,Ryan,Rodriguez,2,(704)570-9035x6859,ryan.rodriguez@abcfoodmart.com,36883.74,2022-11-13,Part-time,Store Manager
16,17,Cindy,Murphy,2,815.257.4987x5005,cindy.murphy@abcfoodmart.com,37195.90,2019-10-02,On Leave,Stocker
17,18,Linda,Avila,2,+1-295-740-6300x35028,linda.avila@abcfoodmart.com,35821.90,2018-12-25,On Leave,Cashier
18,19,Shawn,Hernandez,2,6772858340,shawn.hernandez@abcfoodmart.com,35335.79,2025-01-10,Part-time,Sales Associate
19,20,Paul,Mathis,2,+1-590-477-9795,paul.mathis@abcfoodmart.com,37100.83,2019-10-11,Part-time,Security Guard
20,21,Jeffrey,Rivera,3,878-498-5371x49031,jeffrey.rivera@abcfoodmart.com,35726.17,2016-01-13,Full-time,Security Guard
21,22,Michelle,Riley,3,4995409299,michelle.riley@abcfoodmart.com,35680.81,2017-11-24,Full-time,Sales Associate
22,23,Michele,Martin,3,+1-548-541-0929x612,michele.martin@abcfoodmart.com,37501.42,2016-03-23,On Leave,Cleaner
23,24,Kristy,Burch,3,250-760-6830x15801,kristy.burch@abcfoodmart.com,36771.95,2020-06-03,Part-time,Cashier
24,25,Carolyn,Smith,3,600-924-0703x97310,carolyn.smith@abcfoodmart.com,35195.15,2016-09-08,On Leave,Store Manager
25,26,James,Conrad,3,001-850-724-8378x5648,james.conrad@abcfoodmart.com,35226.55,2020-12-13,Full-time,Security Guard
26,27,Angela,Knight,3,+1-329-479-8584,angela.knight@abcfoodmart.com,37332.40,2023-08-08,Full-time,Sales Associate
27,28,Nancy,Miller,3,001-282-948-4461x694,nancy.miller@abcfoodmart.com,35175.43,2022-01-17,On Leave,Cashier
28,29,Susan,Lee,3,+1-947-616-5293,susan.lee@abcfoodmart.com,37980.44,2018-11-22,On Leave,Stocker
29,30,Danielle,Cook,3,718.665.6052,danielle.cook@abcfoodmart.com,35481.50,2025-01-22,Part-time,Stocker
30,31,Scott,Villa,4,+1-670-914-8773x1445,scott.villa@abcfoodmart.com,36336.86,2018-10-25,Full-time,Security Guard
31,32,Victoria,Taylor,4,+1-548-538-0501x732,victoria.taylor@abcfoodmart.com,36236.96,2018-01-07,Part-time,Sales Associate
32,33,Jonathan,Kennedy,4,(863)269-4306x5801,jonathan.kennedy@abcfoodmart.com,35526.23,2023-11-20,Full-time,Store Manager
33,34,Miguel,Sawyer,4,(837)943-9626,miguel.sawyer@abcfoodmart.com,36515.54,2021-06-16,Full-time,Stocker
34,35,Melanie,Rivera,4,3624623673,melanie.rivera@abcfoodmart.com,35216.51,2018-06-27,Part-time,Sales Associate
35,36,Monica,Shaw,4,463-336-6524x161,monica.shaw@abcfoodmart.com,37309.39,2017-07-08,Part-time,Cleaner
36,37,James,Howard,4,657-392-9531,james.howard@abcfoodmart.com,36803.22,2021-09-09,On Leave,Security Guard
37,38,Whitney,Williams,4,+1-567-255-1616x350,whitney.williams@abcfoodmart.com,37146.48,2018-10-31,Full-time,Cashier
38,39,Krystal,Wong,4,7108491887,krystal.wong@abcfoodmart.com,35556.01,2025-04-08,Part-time,Stocker
39,40,Nicole,Patterson,4,+1-995-585-3084,nicole.patterson@abcfoodmart.com,37597.69,2017-08-03,Part-time,Cashier
40,41,Roger,Murphy,5,229.251.7855,roger.murphy@abcfoodmart.com,37141.04,2022-02-17,Part-time,Store Manager
41,42,Richard,Hart,5,651-909-2952,richard.hart@abcfoodmart.com,35632.12,2018-08-13,Part-time,Security Guard
42,43,Kelly,Donaldson,5,628.705.6071,kelly.donaldson@abcfoodmart.com,37153.51,2024-03-08,Part-time,Stocker
43,44,Joshua,Ashley,5,001-996-248-1672x98991,joshua.ashley@abcfoodmart.com,37786.49,2018-05-17,Full-time,Sales Associate
44,45,Lindsay,Joseph,5,213-696-6715x26499,lindsay.joseph@abcfoodmart.com,35707.53,2022-10-19,Part-time,Stocker
45,46,Paul,Dougherty,5,748-580-0556,paul.dougherty@abcfoodmart.com,37483.92,2016-06-14,On Leave,Cashier
46,47,Kimberly,Marquez,5,(313)206-9508x762,kimberly.marquez@abcfoodmart.com,36776.14,2022-10-17,Full-time,Cashier
47,48,Brent,Anderson,5,001-440-378-7447x067,brent.anderson@abcfoodmart.com,36460.56,2020-09-03,On Leave,Sales Associate
48,49,Melissa,Cook,5,001-963-435-7150x1760,melissa.cook@abcfoodmart.com,35495.47,2018-12-07,On Leave,Cleaner
49,50,Alejandro,Hughes,5,8039654973,alejandro.hughes@abcfoodmart.com,37438.67,2018-03-23,On Leave,Security Guard

#### 5. Shifts

In [38]:
# set day shift and night shift
day_shift_start = time(8, 0, 0)
day_shift_end   = time(16, 0, 0)
night_shift_start = time(16, 0, 0)
night_shift_end   = time(0, 0, 0)

shifts = []

for store_id in employee_df['store_id'].unique():
    employees = employee_df[employee_df['store_id'] == store_id]
    employees = employees.reset_index(drop=True)

    for i, row in employees.iterrows():
        if i < 5:
            shifts.append({
                'employee_id': row['employee_id'],
                'store_id': row['store_id'],
                'schedule_start': day_shift_start,
                'schedule_end': day_shift_end
            })
        else:
            shifts.append({
                'employee_id': row['employee_id'],
                'store_id': row['store_id'],
                'schedule_start': night_shift_start,
                'schedule_end': night_shift_end
            })


shifts_df = pd.DataFrame(shifts)
shifts_df.insert(0, 'shift_id', shifts_df.index + 1)
shifts_df.to_sql('shifts', engine, if_exists='append', index=False)
shifts_df

#### 6. Vendors

In [39]:
Faker.seed(5310)

num_vendors = 21

vendor_data = {
    'vendor_name': [fake.company() for _ in range(num_vendors)],
    'vendor_phone': [fake.phone_number() for _ in range(num_vendors)],
    'vendor_email': [fake.company_email() for _ in range(num_vendors)]
}

vendor_df = pd.DataFrame(vendor_data)
vendor_df.insert(0, 'vendor_id', vendor_df.index + 1)

vendor_df.to_sql('vendors', engine, if_exists='append', index=False)

vendor_df

,vendor_id,vendor_name,vendor_phone,vendor_email
0,1,Smith-Grant,001-385-219-1524,huffmanbeth@knox.com
1,2,"Matthews, Howard and King",432-545-2314,leonbeth@montes.com
2,3,Edwards Ltd,(430)278-0625,eugene94@campbell.com
3,4,"Yu, Scott and Gregory",921.761.6940x21596,nwilson@willis.org
4,5,Gonzalez-Price,(528)649-5534x652,renee06@mccann.net
5,6,Harrison-Anderson,899.407.8922,juliemorton@wilson.com
6,7,"Jackson, Chapman and Knight",509.378.7778,justin90@williams-ritter.com
7,8,"Campbell, White and Gutierrez",917-756-5040x98179,jonathanwilliams@young.com
8,9,Griffin PLC,001-491-526-3927x63154,johnsonthomas@porter.com
9,10,"Coffey, Hernandez and Johnson",001-825-786-4978x1817,andersonjoshua@galvan.com
10,11,"Williamson, Allen and Barker",+1-604-950-8571x95916,umorgan@watkins.com
11,12,Smith-Perez,896-506-4358x790,oandrews@gentry-schmidt.net
12,13,"Hartman, Miller and White",001-707-922-3262x324,lopeznancy@davis.net
13,14,"Bradshaw, Ryan and Oneal",+1-726-716-0470x90356,melindacherry@king.biz
14,15,Dennis-Peters,969.645.7155,bill96@lee.biz
15,16,"Stephens, Alexander and Kennedy",001-587-750-0560,dennis93@griffin.com
16,17,Burgess-Orozco,001-289-754-0630x03502,john18@riddle-dawson.com
17,18,Morton Group,572.610.7785,jbrown@roberts-peters.com
18,19,Moore LLC,2949086889,edavid@vaughn-castillo.com
19,20,Crawford and Sons,+1-779-979-5893x29335,mitchellsharon@rivera.net
20,21,"Duran, Bass and Patton",878-498-5371x49031,imendez@hanson.net

#### 7. Vendor Product

In [40]:
# Each vendor is responsible for one or more categories
# A vendor can provide some (not all) products in their categories
# Multiple vendors can supply the same product (overlap allowed)
# No vendor supplies products outside their assigned categories

random.seed(5310)

vendor_category_map = {}
category_ids = product_category_df['category_id'].tolist()
vendor_ids = vendor_df['vendor_id'].tolist()

# Assign 1–2 random categories to each vendor
for vendor_id in vendor_ids:
    assigned_categories = random.sample(category_ids, k=random.choice([1, 2]))
    vendor_category_map[vendor_id] = assigned_categories

vendor_product_records = []
vendor_product_id = 1
covered_products = set()

for vendor_id, category_list in vendor_category_map.items():
    for category_id in category_list:
        # Get products in that category
        products_in_category = product_df[product_df['category_id'] == category_id]['product_sku'].tolist()
        if not products_in_category:
            continue

        # Pick 50–80% of products
        num_to_select = max(1, int(len(products_in_category) * random.uniform(0.5, 0.8)))
        selected_products = random.sample(products_in_category, num_to_select)

        for product_sku in selected_products:
            vendor_product_records.append({
                'vendor_product_id': vendor_product_id,
                'vendor_id': vendor_id,
                'product_sku': product_sku
            })
            vendor_product_id += 1
            covered_products.add(product_sku)

# Ensure every product is covered by at least one vendor
all_products = set(product_df['product_sku'])
uncovered_products = all_products - covered_products

fallback_vendors = random.choices(vendor_ids, k=len(uncovered_products))  # Reuse vendors

for product_sku, vendor_id in zip(uncovered_products, fallback_vendors):
    vendor_product_records.append({
        'vendor_product_id': vendor_product_id,
        'vendor_id': vendor_id,
        'product_sku': product_sku
    })
    vendor_product_id += 1

vendor_product_df = pd.DataFrame(vendor_product_records)
vendor_product_df.to_sql('vendor_product', engine, if_exists='append', index=False)

vendor_product_df

      vendor_product_id  vendor_id  product_sku
0                     1          1  83-556-0996
1                     2          1  80-441-7249
2                     3          1  02-655-3240
3                     4          1  84-624-0201
4                     5          1  06-340-6856
...                 ...        ...          ...
3030               3031         10  41-240-8856
3031               3032         14  69-561-2496
3032               3033         19  29-017-6255
3033               3034          2  77-312-6317
3034               3035         16  02-275-6061

[3035 rows x 3 columns]

#### 8. Purchase Orders

In [41]:
# All vendors are included, each supplying multiple stores
# All orders between 2025-01-01 and 2025-07-31
# older order = completed, newer order = pending
# Stores place multiple orders from the same vendor

random.seed(5310)
np.random.seed(5310)

store_ids = store_df['store_id'].tolist()
vendor_ids = vendor_df['vendor_id'].tolist()
start_date = date(2025, 1, 1)
end_date = date(2025, 7, 31)
date_range_days = (end_date - start_date).days

def determine_status(order_date):
    if order_date <= date(2025, 6, 30):
        return np.random.choice(['Completed', 'Pending'], p=[0.98, 0.02])
    elif order_date <= date(2025, 7, 15):
        return np.random.choice(['Completed', 'Pending'], p=[0.80, 0.20])
    else:
        return np.random.choice(['Completed', 'Pending'], p=[0.50, 0.50])

# each store orders from each vendor at least once
purchase_orders = []
po_id = 1

for vendor_id in vendor_ids:
    for store_id in store_ids:
        num_orders = random.randint(7, 30)
        for _ in range(num_orders):
            order_date = start_date + timedelta(days=random.randint(0, date_range_days))
            status = determine_status(order_date)
            purchase_orders.append({
                'purchase_order_id': po_id,
                'vendor_id': vendor_id,
                'store_id': store_id,
                'order_date': order_date,
                'status': status
            })
            po_id += 1

purchase_order_df = pd.DataFrame(purchase_orders)
purchase_order_df.to_sql('purchase_order', engine, if_exists='append', index=False)
purchase_order_df

      purchase_order_id  vendor_id  store_id  order_date     status
0                     1          1         1  2025-01-04  Completed
1                     2          1         1  2025-07-12  Completed
2                     3          1         1  2025-05-23  Completed
3                     4          1         1  2025-07-20  Completed
4                     5          1         1  2025-07-08  Completed
...                 ...        ...       ...         ...        ...
2001               2002         21         5  2025-05-14  Completed
2002               2003         21         5  2025-06-18  Completed
2003               2004         21         5  2025-03-15  Completed
2004               2005         21         5  2025-01-02  Completed
2005               2006         21         5  2025-06-11  Completed

[2006 rows x 5 columns]

#### 9. Purchase Products

In [42]:
random.seed(5310)
np.random.seed(5310)

df = df.copy()
df['Unit_Price_Clean'] = df['Unit_Price'].astype(str).str.replace('$', '').str.strip()
df['Unit_Price_Clean'] = pd.to_numeric(df['Unit_Price_Clean'], errors='coerce')

category_markup = { 'Canned & Jarred': 0.30,
                    'Fruits & Vegetables': 0.40,
                    'Grains & Pulses': 0.40,
                    'Beverages': 0.60,
                    'Snacks': 0.60,
                    'Seafood': 0.30}

df['Markup_Rate'] = pd.to_numeric(df['Catagory'].map(category_markup).fillna(0.25), errors='coerce')
df['actual_unit_cost'] = df['Unit_Price_Clean'] / (1 + df['Markup_Rate'])

# Merge cost into vendor_product_df so each vendor_product_id has a cost
vp_df = vendor_product_df.merge(
    df[['Product_ID', 'actual_unit_cost']].rename(columns={'Product_ID': 'product_sku'}),
    on='product_sku',
    how='left'
)

# Build lookup: product_sku → list of {vendor_product_id, vendor_id, actual_unit_cost}
vp_lookup = (
    vp_df
    .groupby('product_sku')[['vendor_product_id', 'vendor_id', 'actual_unit_cost']]
    .apply(lambda g: g.dropna(subset=['vendor_product_id']).to_dict('records'))
    .to_dict()
)

store_ids = store_df['store_id'].tolist()
all_skus = product_df['product_sku'].unique()

# Generate purchase_product data
purchase_products = []
pp_id = 1

for store_id in store_ids:
    for product_sku in all_skus:
        options = vp_lookup.get(product_sku)
        if not options:
            continue

        # Vendors that both supply this SKU AND have at least one PO with this store
        valid = []
        for opt in options:
            vid = opt['vendor_id']
            has_po = not purchase_order_df[
                (purchase_order_df['vendor_id'] == vid) &
                (purchase_order_df['store_id'] == store_id)
            ].empty
            if has_po:
                valid.append(opt)
        if not valid:
            continue

        selected = random.choice(valid)
        vendor_id = selected['vendor_id']
        vpid = selected['vendor_product_id']
        cost = float(round(selected.get('actual_unit_cost', 0.0), 2))

        # Pick a PO for that (vendor, store)
        po_id = (
            purchase_order_df
            .loc[(purchase_order_df['vendor_id'] == vendor_id) &
                 (purchase_order_df['store_id'] == store_id), 'purchase_order_id']
            .sample(1, random_state=pp_id)
            .values[0]
        )

        purchase_products.append({
            'purchase_product_id': pp_id,
            'purchase_order_id'  : int(po_id),
            'vendor_product_id'  : int(vpid), 
            'quantity_purchased' : int(random.randint(300, 500)),
            'actual_unit_cost'   : cost
        })
        pp_id += 1


purchase_product_df = pd.DataFrame(purchase_products)
purchase_product_df.to_sql('purchase_product', engine, if_exists='append', index=False)
purchase_product_df

,purchase_product_id,purchase_order_id,vendor_product_id,quantity_purchased,actual_unit_cost
0,1,1458,2123,303,3.21
1,2,1708,2654,500,12.50
2,3,1623,2487,391,4.29
3,4,751,1185,432,1.07
4,5,126,258,380,2.86
...,...,...,...,...,...
4945,4946,193,368,482,1.79
4946,4947,93,229,468,7.20
4947,4948,330,507,321,0.64
4948,4949,639,982,341,8.00
4949,4950,315,592,436,3.21

#### 10. Inventory Lots

In [44]:
def generate_inventory_lot(
    purchase_order_df: pd.DataFrame,
    purchase_product_df: pd.DataFrame,
    vendor_product_df: pd.DataFrame,
    products_df: pd.DataFrame,
    product_category_df: pd.DataFrame,
    split_lots: bool = True,
    max_parts: int = 3,
    seed: int = 5310,
) -> pd.DataFrame:
    """
    Returns inventory_lot_df with columns:
      lot_id, store_id, purchase_product_id, quantity, expiration_date, received_date
    """
    random.seed(seed)
    np.random.seed(seed)

    # Normalize cols
    def norm(df):
        df = df.copy()
        df.columns = df.columns.str.strip().str.lower()
        return df

    po  = norm(purchase_order_df)
    pp  = norm(purchase_product_df)
    vp  = norm(vendor_product_df)
    pr  = norm(products_df)
    cat = norm(product_category_df)

    # Attach purchase order info (store, order_date, status) to each purchase line
    pp_po = pp.merge(
        po[["purchase_order_id", "vendor_id", "store_id", "order_date", "status"]],
        on="purchase_order_id",
        how="left",
    )

    # Keep only completed purchase order to the inventory lot
    mask_completed = pp_po["status"].astype(str).str.lower().eq("completed")
    pp_po = pp_po.loc[mask_completed].copy()

    # Received date = order_date + 1 to 7 days
    pp_po["order_date"] = pd.to_datetime(pp_po["order_date"]).dt.date
    pp_po["received_date"] = pp_po["order_date"] + pp_po["order_date"].apply(
        lambda _: timedelta(days=random.randint(1, 7))
    )

    # Bring category name for shelf life mapping: vendor_product -> products -> product_category
    pp_po = pp_po.merge(vp[["vendor_product_id", "product_sku"]], on="vendor_product_id", how="left")
    pp_po = pp_po.merge(pr[["product_sku", "category_id"]], on="product_sku", how="left")
    pp_po = pp_po.merge(cat[["category_id", "category_name"]], on="category_id", how="left")

    # Shelf-life in days by category
    shelf_life_days = {
        "fruits & vegetables": (5, 14),
        "seafood": (7, 21),
        "dairy": (10, 30),
        "meat & poultry": (7, 21),
        "beverages": (180, 365),
        "grains & pulses": (180, 365),
        "snacks": (120, 240),
        "canned & jarred": (365, 1095),
        "bakery": (2, 7),
    }

    def pick_expiration(received_date, category_name):
        if pd.isna(received_date):
            return pd.NaT
        base = pd.to_datetime(received_date).date()
        cname = (category_name or "").lower()
        lo, hi = (180, 365)
        for key, rng in shelf_life_days.items():
            if key in cname:
                lo, hi = rng
                break
        return base + timedelta(days=random.randint(lo, hi))

    def split_quantity(total, kmax=3):
        """Return a list of integers that sum to total."""
        total = int(total or 0)
        if total <= 0:
            return []
        if not split_lots:
            return [total]
        parts = random.randint(1, max(1, kmax))
        if parts == 1 or total < parts:
            return [total]
        cuts = sorted(random.sample(range(1, total), parts - 1))
        return [cuts[0]] + [cuts[i] - cuts[i - 1] for i in range(1, len(cuts))] + [total - cuts[-1]]

    rows = []
    lot_id = 1
    for _, r in pp_po.iterrows():
        lot_sizes = split_quantity(r.get("quantity_purchased"), kmax=max_parts)
        for q in lot_sizes:
            rows.append(
                {
                    "lot_id": lot_id,
                    "store_id": int(r["store_id"]),
                    "purchase_product_id": int(r["purchase_product_id"]),
                    "quantity": int(q),
                    "received_date": r["received_date"],
                    "expiration_date": pick_expiration(r["received_date"], r.get("category_name")),
                }
            )
            lot_id += 1

    inventory_lot_df = pd.DataFrame(
        rows,
        columns=["lot_id", "store_id", "purchase_product_id", "quantity", "expiration_date", "received_date"],
    )

    # check: per purchase_product_id, lot sums match the line quantity
    check = (
        inventory_lot_df.groupby("purchase_product_id", as_index=False)["quantity"].sum()
        .rename(columns={"quantity": "lot_sum"})
        .merge(pp[["purchase_product_id", "quantity_purchased"]], on="purchase_product_id", how="left")
    )
    if not (check["lot_sum"] == check["quantity_purchased"]).all():
        raise ValueError("Lot splits do not sum to purchase line quantities.")

    return inventory_lot_df

inventory_lot_df = generate_inventory_lot(
    purchase_order_df=purchase_order_df,
    purchase_product_df=purchase_product_df,
    vendor_product_df=vendor_product_df,
    products_df=product_df,
    product_category_df=product_category_df,
    split_lots=True,     # set False if you want exactly one lot per line
    max_parts=3,
    seed=5310
)

inventory_lot_df.to_sql('inventory_lot', engine, if_exists='append', index=False)
inventory_lot_df

C:\Users\linl8\AppData\Local\Temp\ipykernel_33668\3262706673.py:43: PerformanceWarning: Adding/subtracting object-dtype array to TimedeltaArray not vectorized.
  pp_po["received_date"] = pp_po["order_date"] + pp_po["order_date"].apply(

,lot_id,store_id,purchase_product_id,quantity,expiration_date,received_date
0,1,1,1,166,2025-11-02,2025-02-20
1,2,1,1,137,2025-11-11,2025-02-20
2,3,1,2,500,2026-01-15,2025-01-15
3,4,1,3,327,2026-05-31,2025-07-03
4,5,1,3,64,2026-02-17,2025-07-03
...,...,...,...,...,...,...
9273,9274,5,4948,78,2025-03-08,2025-02-22
9274,9275,5,4949,210,2025-08-13,2025-02-14
9275,9276,5,4949,131,2025-11-20,2025-02-14
9276,9277,5,4950,150,2025-08-04,2025-07-30
9277,9278,5,4950,286,2025-08-04,2025-07-30

#### 11. Payment Methods

In [45]:
payment_methods = [
    {'payment_method_id': 1, 'method_name': 'Cash'},
    {'payment_method_id': 2, 'method_name': 'Credit Card'},
    {'payment_method_id': 3, 'method_name': 'Debit Card'},
    {'payment_method_id': 4, 'method_name': 'Mobile Pay'},
    {'payment_method_id': 5, 'method_name': 'EBT'}
]

payment_method_df = pd.DataFrame(payment_methods)
payment_method_df.to_sql('payment_method', engine, if_exists='append', index=False)
payment_method_df

   payment_method_id  method_name
0                  1         Cash
1                  2  Credit Card
2                  3   Debit Card
3                  4   Mobile Pay
4                  5          EBT

#### 12. Transactions

In [46]:
random.seed(100)
np.random.seed(100)

num_transactions = 50000
store_ids = store_df['store_id'].tolist()
employee_ids = employee_df[employee_df['job_title'] == 'Cashier']['employee_id'].tolist()
payment_methods_ids = payment_method_df['payment_method_id'].tolist()


transaction_data = []
for transaction_id in range(1, num_transactions + 1):
    store_id = np.random.choice(store_ids)
    employee_id = np.random.choice(employee_ids)

    # Random datetime between Jan 1 and Jul 31, 2025
    random_day = date(2025, 1, 1) + timedelta(days=randint(0, 211))
    random_time = timedelta(hours=randint(8, 20), minutes=randint(0, 59), seconds=randint(0, 59))
    tran_time = pd.Timestamp(random_day + random_time)

    payment_method = np.random.choice(payment_methods_ids, p=[0.25, 0.2, 0.25, 0.25, 0.05])

    transaction_data.append({'transaction_id': transaction_id,
                             'store_id': store_id,
                             'employee_id': employee_id,
                             'tran_time': tran_time,
                             'payment_method_id': payment_method})


transaction_df = pd.DataFrame(transaction_data)
transaction_df.to_sql('transactions', engine, if_exists='append', index=False)
transaction_df

       transaction_id  store_id  employee_id  tran_time  payment_method_id
0                   1         1           46 2025-02-07                  2
1                   2         1           24 2025-02-14                  1
2                   3         3           14 2025-03-31                  4
3                   4         2            3 2025-01-29                  3
4                   5         5            3 2025-07-08                  3
...               ...       ...          ...        ...                ...
49995           49996         5           24 2025-06-13                  3
49996           49997         3           24 2025-01-02                  3
49997           49998         1            7 2025-03-04                  2
49998           49999         5           40 2025-05-18                  4
49999           50000         2            7 2025-04-23                  2

[50000 rows x 5 columns]

#### 13. Sales Detailed Items

In [48]:
def generate_sales_detailed_items_from_prices(
    transaction_df: pd.DataFrame,
    inventory_lot_df: pd.DataFrame,
    purchase_product_df: pd.DataFrame,
    vendor_product_df: pd.DataFrame,
    products_df: pd.DataFrame,         
    price_df: pd.DataFrame,             #
    lines_per_txn_dist=( [1,2,3,4,5],   [0.10,0.35,0.35,0.15,0.05] ),
    qty_per_line_dist=( [1,2,3,4,5],    [0.30,0.35,0.20,0.10,0.05] ),
    discount_prob=0.15,                 # 15% of lines get a discount
    discount_range=(0.03, 0.10),        # 3–10% of extended price
    seed=5310
) -> pd.DataFrame:
    """
    Returns a DataFrame with columns matching:
      detailed_id, transaction_id, product_sku, lot_id, quantity, actual_unit_price, discount_amount

    Pricing source: price_df[['Product_ID','Unit_Price_Clean']] (retail).
    One lot per line; FEFO lot selection (earliest expiration first, then earliest received).
    """

    random.seed(seed)
    np.random.seed(seed)

    # Normalize columns
    def norm(df):
        d = df.copy()
        d.columns = d.columns.str.strip().str.lower()
        return d

    tx   = norm(transaction_df)
    lots = norm(inventory_lot_df)
    pp   = norm(purchase_product_df)
    vp   = norm(vendor_product_df)
    pr   = norm(products_df)

    # Prepare price mapping: product_sku -> Unit_Price_Clean
    prices = price_df[['Product_ID','Unit_Price_Clean']].dropna().copy()
    prices.columns = ['product_sku','unit_price_clean']

    # Enrich lots with product_sku (via purchase_product -> vendor_product)
    lots_full = (
        lots
          .merge(pp[['purchase_product_id','vendor_product_id']], on='purchase_product_id', how='left')
          .merge(vp[['vendor_product_id','product_sku']], on='vendor_product_id', how='left')
          .merge(prices, on='product_sku', how='left')
    )

    # Track remaining qty per lot to prevent oversell
    lots_full['remaining'] = lots_full['quantity'].fillna(0).astype(int)

    # earliest expiration first; if expiration is null, push it after those with dates and use received_date
    def pick_fefo_lot(store_id, sku):
        cand = lots_full[
            (lots_full.store_id == store_id) &
            (lots_full.product_sku == sku) &
            (lots_full.remaining > 0)
        ].copy()
        if cand.empty:
            return None
        cand['exp_is_null'] = cand['expiration_date'].isna()
        cand.sort_values(
            by=['exp_is_null', 'expiration_date', 'received_date'],
            ascending=[True, True, True],
            inplace=True
        )
        return cand.iloc[0]

    # Which SKUs have stock per store?
    avail = (
        lots_full[lots_full['remaining'] > 0]
        .groupby(['store_id','product_sku'], as_index=False)['remaining'].sum()
        .rename(columns={'remaining':'store_sku_remaining'})
    )
    store_to_skus = {sid: grp['product_sku'].tolist() for sid, grp in avail.groupby('store_id')}

    # Helper distributions
    line_vals, line_probs = lines_per_txn_dist
    qty_vals,  qty_probs  = qty_per_line_dist

    def lines_per_txn():
        return int(np.random.choice(line_vals, p=line_probs))

    def qty_per_line():
        return int(np.random.choice(qty_vals, p=qty_probs))

    def discount_for(unit_price, qty):
        if random.random() < discount_prob:
            pct = random.uniform(*discount_range)
            return round(unit_price * qty * pct, 2)
        return 0.00

    # Build lines
    rows = []
    detailed_id = 1

    for _, tx_row in tx.iterrows():
        store_id = int(tx_row['store_id'])
        sku_pool = store_to_skus.get(store_id, [])
        if not sku_pool:
            continue  # no stock available at this store

        for _ in range(lines_per_txn()):
            # pick a SKU that has an available lot
            chosen_lot = None
            chosen_sku = None
            for _try in range(10):
                if not sku_pool:
                    break
                candidate_sku = random.choice(sku_pool)
                lot_row = pick_fefo_lot(store_id, candidate_sku)
                if lot_row is not None:
                    chosen_lot = lot_row
                    chosen_sku = candidate_sku
                    break
                else:
                    # if that SKU has no remaining lots, remove from pool
                    sku_pool = [s for s in sku_pool if s != candidate_sku]
            if chosen_lot is None:
                break  # nothing left for this store

            want_qty = qty_per_line()
            sell_qty = max(1, min(int(chosen_lot['remaining']), want_qty))

            # Price from Unit_Price_Clean (fallback to 0 if missing)
            unit_price = float(chosen_lot.get('unit_price_clean', 0.0) or 0.0)
            disc_amt   = discount_for(unit_price, sell_qty)

            rows.append({
                'detailed_id':       detailed_id,
                'transaction_id':    int(tx_row['transaction_id']),
                'product_sku':       str(chosen_lot['product_sku']),
                'lot_id':            int(chosen_lot['lot_id']),
                'quantity':          int(sell_qty),
                'actual_unit_price': round(unit_price, 2),
                'discount_amount':   float(disc_amt),
            })
            detailed_id += 1

            # decrement remaining for that lot
            lots_full.loc[lots_full['lot_id'] == chosen_lot['lot_id'], 'remaining'] -= sell_qty

            # if SKU depleted at this store, remove from pool
            rem_for_sku = lots_full[
                (lots_full.store_id == store_id) &
                (lots_full.product_sku == chosen_sku)
            ]['remaining'].sum()
            if rem_for_sku <= 0 and chosen_sku in sku_pool:
                sku_pool.remove(chosen_sku)

    sdi = pd.DataFrame(rows, columns=[
        'detailed_id','transaction_id','product_sku','lot_id','quantity','actual_unit_price','discount_amount'
    ])
    return sdi
sales_detailed_item_df = generate_sales_detailed_items_from_prices(
    transaction_df=transaction_df,
    inventory_lot_df=inventory_lot_df,
    purchase_product_df=purchase_product_df,
    vendor_product_df=vendor_product_df,
    products_df=product_df,
    price_df=df  
)


sales_detailed_item_df.to_sql('sales_detailed_item', engine, if_exists='append', index=False)
sales_detailed_item_df

,detailed_id,transaction_id,product_sku,lot_id,quantity,actual_unit_price,discount_amount
0,1,1,42-175-1648,1279,2,6.00,0.83
1,2,1,80-371-3695,703,2,5.00,0.00
2,3,1,38-664-2155,1013,1,2.55,0.00
3,4,2,56-191-6497,436,2,1.50,0.23
4,5,3,72-810-9753,4632,2,6.50,0.00
...,...,...,...,...,...,...,...
134629,134630,49999,41-240-8856,8626,3,9.00,0.00
134630,134631,50000,28-044-4102,3628,2,4.50,0.38
134631,134632,50000,71-074-6292,2587,2,4.00,0.00
134632,134633,50000,39-913-2999,3378,3,2.00,0.00
134633,134634,50000,70-149-6756,2097,1,4.20,0.00

#### 14. Refunds

In [50]:
def generate_refunds(
    transactions_df: pd.DataFrame,
    sales_detailed_item_df: pd.DataFrame,
    employees_df: pd.DataFrame,
    refund_rate: float = 0.06,        # ~6% of sale lines get refunded
    partial_prob: float = 0.65,       # chance the refund is partial (not full qty)
    max_days_after: int = 30,         # refunds occur within 0-30 days after the sale
    seed: int = 5310
) -> pd.DataFrame:
    """
    Returns DataFrame with columns:
      refund_id, original_tran_id, refund_time, employee_id, reason,
      detailed_id, quantity, amount
    Assumes sales_detailed_item_df has: detailed_id, transaction_id, product_sku,
      lot_id, quantity, actual_unit_price, discount_amount
    transactions_df has: transaction_id, store_id, tran_time
    employees_df has: employee_id, store_id, job_title (optional)
    """
    random.seed(seed)
    np.random.seed(seed)

    # Normalize columns
    def norm(df):
        d = df.copy()
        d.columns = d.columns.str.strip().str.lower()
        return d

    tx   = norm(transactions_df)
    sdi  = norm(sales_detailed_item_df)
    emps = norm(employees_df)

    # Join sale lines to their transactions (to get tran_time & store_id)
    lines = sdi.merge(
        tx[["transaction_id", "store_id", "tran_time"]],
        on="transaction_id", how="left"
    ).copy()

    # Only lines that can be refunded (qty > 0 and have a price)
    lines = lines[(lines["quantity"] > 0) & (lines["actual_unit_price"].notna())].copy()
    if lines.empty:
        return pd.DataFrame(columns=[
            "refund_id","original_tran_id","refund_time","employee_id","reason",
            "detailed_id","quantity","amount"
        ])

    # Sample a subset of lines to refund
    n_lines = len(lines)
    n_refunds = int(round(n_lines * refund_rate))
    refund_candidates = lines.sample(n=n_refunds, random_state=seed).reset_index(drop=True)

    # Track cumulative refunds per detailed_id to prevent over-refund
    already_refunded = {}

    # Pick a clerk from the same store; prefer Cashiers when available
    emps["is_cashier"] = emps.get("job_title", "").astype(str).str.lower().str.contains("cashier")
    store_to_emp = {
        sid: (
            grp.loc[grp["is_cashier"], "employee_id"].tolist()
            or grp["employee_id"].tolist()
        )
        for sid, grp in emps.groupby("store_id")
    }

    reasons = ["Defective", "Changed mind", "Wrong item", "Quality/Expired", "Other"]
    reason_p = [0.25, 0.30, 0.15, 0.20, 0.10]

    rows = []
    refund_id = 1

    for _, r in refund_candidates.iterrows():
        det_id = int(r["detailed_id"])
        sold_qty = int(r["quantity"])
        ref_so_far = int(already_refunded.get(det_id, 0))
        max_refundable = sold_qty - ref_so_far
        if max_refundable <= 0:
            continue

        # Partial vs full refund
        if random.random() < partial_prob:
            qty = random.randint(1, max_refundable)  # partial (could be full by chance)
        else:
            qty = max_refundable                      # full remaining

        unit_price = float(r["actual_unit_price"])
        # Pro-rate discount per unit from the original line
        per_unit_discount = float(r.get("discount_amount", 0.0) or 0.0) / sold_qty if sold_qty else 0.0
        gross = unit_price * qty
        discount = per_unit_discount * qty
        amount = round(max(gross - discount, 0.0), 2)

        # Refund time = sale time + 0..max_days_after days (keep time-of-day)
        sale_ts = pd.to_datetime(r["tran_time"])
        refund_ts = sale_ts + timedelta(days=random.randint(0, max_days_after))

        # Choose an employee at this store
        emp_pool = store_to_emp.get(int(r["store_id"]), [])
        emp_id = int(random.choice(emp_pool)) if emp_pool else None

        rows.append({
            "refund_id":        refund_id,
            "original_tran_id": int(r["transaction_id"]),
            "refund_time":      refund_ts,
            "employee_id":      emp_id,
            "reason":           np.random.choice(reasons, p=reason_p),
            "detailed_id":      det_id,
            "quantity":         float(qty),
            "amount":           amount
        })
        refund_id += 1
        already_refunded[det_id] = ref_so_far + qty

    refunds_df = pd.DataFrame(rows, columns=[
        "refund_id","original_tran_id","refund_time","employee_id","reason",
        "detailed_id","quantity","amount"
    ])
    return refunds_df

refunds_df = generate_refunds(
    transactions_df=transaction_df,              
    sales_detailed_item_df=sales_detailed_item_df,
    employees_df=employee_df,                      
    refund_rate=0.06,                               
    partial_prob=0.65,                              # 65% are partial refunds
    max_days_after=30                               # Refunds happen within 30 days
)
refunds_df.to_sql('refunds', engine, if_exists='append', index=False)
refunds_df

,refund_id,original_tran_id,refund_time,employee_id,reason,detailed_id,quantity,amount
0,1,11936,2025-07-23,40,Wrong item,32162,1.0,4.00
1,2,49076,2025-07-13,18,Changed mind,132124,2.0,30.00
2,3,16731,2025-02-23,47,Changed mind,45009,1.0,4.50
3,4,3080,2025-06-08,46,Defective,8220,1.0,4.74
4,5,11430,2025-01-19,40,Defective,30830,1.0,4.00
...,...,...,...,...,...,...,...,...
8073,8074,33061,2025-06-17,40,Quality/Expired,88943,2.0,10.00
8074,8075,3122,2025-07-08,24,Changed mind,8335,2.0,8.00
8075,8076,11181,2025-01-08,3,Changed mind,30101,1.0,3.00
8076,8077,28896,2025-05-23,38,Changed mind,77611,1.0,5.50
8077,8078,29279,2025-08-07,24,Changed mind,78617,1.0,2.00

#### 15. Inventory

In [52]:
reorder_sql = '''
UPDATE inventory i
SET reorder_threshold = CASE pc.category_name
    WHEN 'Canned & Jarred'       THEN 30
    WHEN 'Fruits & Vegetables'   THEN 50
    WHEN 'Grains & Pulses'       THEN 40
    WHEN 'Beverages'             THEN 25
    WHEN 'Snacks'                THEN 15
    WHEN 'Seafood'               THEN 35
    ELSE 20
END
FROM products p
JOIN product_category pc ON p.category_id = pc.category_id
WHERE i.product_sku = p.product_sku;
'''
with engine.begin() as conn:
    result = conn.exec_driver_sql(reorder_sql)

#### 16. Operating Expenses

In [53]:
random.seed(5310)
np.random.seed(5310)

store_ids = store_df['store_id'].tolist()
expense_types = ['Rent', 'Utilities', 'Payroll', 'Maintenance', 'Supplies', 'Marketing']
start_date = date(2025, 1, 1)
end_date = date(2025, 7, 31)
date_range = (end_date - start_date).days

expense_data = []
expense_id = 1

for store_id in store_ids:
    # Generate consistent Rent for this store
    rent_amount = round(np.random.uniform(5000, 8000), 2)

    # Generate Utilities separately for each month
    for month in range(1, 8):  # January to July
        # Rent (same value every month)
        expense_data.append({
            'store_id': store_id,
            'expense_type': 'Rent',
            'amount': rent_amount,
            'expense_date': date(2025, month, 1)
        })

        # Utilities (varies monthly)
        utility_amount = round(np.random.uniform(500, 1000), 2)
        expense_data.append({
            'store_id': store_id,
            'expense_type': 'Utilities',
            'amount': utility_amount,
            'expense_date': date(2025, month, 1)
        })

    # Variable expenses
    num_variable_expenses = randint(15, 30)
    for _ in range(num_variable_expenses):
        expense_data.append({
            'store_id': store_id,
            'expense_type': choice(['Maintenance', 'Supplies', 'Marketing']),
            'amount': round(np.random.uniform(50, 300), 2),
            'expense_date': start_date + timedelta(days=randint(0, date_range))
        })

operating_expenses_df = pd.DataFrame(expense_data)
operating_expenses_df.insert(0, 'expense_id', operating_expenses_df.index + 1)
operating_expenses_df.to_sql('operating_expenses', engine, if_exists='append', index=False)
operating_expenses_df

     expense_id  store_id expense_type   amount expense_date
0             1         1         Rent  6679.50   2025-01-01
1             2         1    Utilities   664.34   2025-01-01
2             3         1         Rent  6679.50   2025-02-01
3             4         1    Utilities   771.59   2025-02-01
4             5         1         Rent  6679.50   2025-03-01
..          ...       ...          ...      ...          ...
175         176         5    Marketing   260.72   2025-04-23
176         177         5    Marketing   287.65   2025-07-07
177         178         5  Maintenance   121.56   2025-07-13
178         179         5    Marketing   128.15   2025-01-25
179         180         5     Supplies   263.01   2025-07-02

[180 rows x 5 columns]